
<div class="row col-xs-12  ">
  <!--<div class="text-center blockz">-->
    <!--<h1 style="font-size:904%;">🦎🦋🐉</h1>-->
<%= link_to "🍭∞🎧", "#" ,class: 'btn-bigboyz', style: "position: relative" %>
  </div>
</div>
<div class="container", style="color: #ff00cc">
  <!--<div class="row text-center">-->
    <% if user_signed_in? %>
          <% if current_user.profile %>
            <div class="pull-left", style="margin-left: 13px">
              <%= link_to "✨", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-blockz' %>
            </div>
            <!--<%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-large btn-block' %>-->
            <div class="pull-right", style="margin-right: 13px">
              <%= link_to "🎂", users_path, class: 'btn btn-blockz' %>
            </div> 
            <!--<%= link_to "Peep your profile", user_path(id: current_user.id), class: 'btn btn-default btn-large btn-block' %>-->
          <% else %>
            <div class="pull-left", style="margin-left: 13px">
              <%= link_to "🍰", new_user_profile_path(user_id: current_user.id), class: 'btn btn-blockz' %>
            </div>
      <!--<div class="col-md-6 col-md-offset-4">-->
            <div class="pull-right", style="margin-right: 13px">
              <%= link_to "🎂", users_path, class: 'btn btn-blockz' %>
            </div>  
      </div>
           
          <% end %>
        </div>
      </div>
    
     
      <!--<div class="col-md-6 col-md-offset-3 text-center">-->
      <!--  <div class="pull-down", style="margin-bottom: 13px">-->
          <!--<h2 class="text-center">🎂</h2>-->
      <!--    <%= link_to "🎂", users_path, class: 'btn btn-blockz ' %>-->
      <!--  </div>-->
      <!--</div>-->
      <!--<div class="col-md-6 col-md-offset-3 text-center">-->
        <!--<div class="well">-->
          <!--<h2 class="text-center">🎂</h2>-->
          
      <!--  </div>-->
      <!--</div>-->
      
    <% else %>
    <!--<div class="row text-center">  -->
    <!--  <div class="center-block", style="margin-top: -106px">-->
    <!--      <%= link_to "🦍🦑", new_user_registration_path(plan: @basic_plan.id), class: 'btn-bigboyz btn-unstyled' %> -->
    <!--  <div class="container center-block", style="margin-top: -24px">  -->
    <!--    <%= link_to "🕴🕴", new_user_registration_path(plan: @pro_plan.id), class: 'btn-bigboyz btn-unstyled' %>-->
    <!--  </div>-->
    <!--</div>-->
    <!--  </div>-->
    <!--  </div>-->
    <!--  </div>-->
    <% end %>
  </div>
  
</div> 

