<embed src="media/gonna_get_over_you.mp4" id="Gonna Get over you" />
<script>
function setvideo(src) {
    document.getElementById('div_video').innerHTML = '<video autoplay controls id="video_ctrl" style="height: 100px; width: 100px;"><source src="'http://www.tools4movies.com/trailers/1012/Despicable%20Me%202.mp4'" type="video/mp4"></video>';
    document.getElementById('video_ctrl').play();
}
</script>
<button onClick="setvideo('http://www.tools4movies.com/trailers/1012/Despicable%20Me%202.mp4');">Video1</button>
<div id="div_video"> </div>
<!--<video id="video" width="320" height="240"></video>-->
<!--<script>-->
<!--  var video = document.getElementById('video');-->
<!--  var source = document.createElement('source');-->
  
<!--  source.setAttribute('src', 'http://www.tools4movies.com/trailers/1012/Kill%20Bill%20Vol.3.mp4');-->
  
<!--  video.appendChild(source);-->
<!--  video.play();-->
  
<!--  setTimeout(function() {  -->
<!--    video.pause();-->

<!--   source.setAttribute('src', 'http://www.tools4movies.com/trailers/1012/Despicable%20Me%202.mp4'); -->

<!--    video.load();-->
<!--    video.play();-->
<!--}, 3000);-->

<!--</script>-->

<!--<EMBED SRC="XmsNIpyWeUzu.mov" WIDTH=240 HEIGHT = 196 AUTOPLAY=true CONTROLLER=true LOOP=false PLUGINSPAGE=http://www.apple.com/quicktime/">-->


<!-- begin embedded QuickTime file... -->
<!--      <table border="0" cellpadding="0" align="left">-->
        <!-- begin video window... -->
<!--        <tr><td>-->
<!--        <OBJECT classid='clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B' width="640"-->
<!--        height="360" codebase='http://www.apple.com/qtactivex/qtplugin.cab'>-->
<!--        <param name='src' value="https://www.dropbox.com/s/m0irzzk8cejvzu7/XmsNIpyWeUzu.mov?dl=0">-->
<!--        <param name='autoplay' value="true">-->
<!--        <param name='controller' value="true">-->
<!--        <param name='loop' value="true">-->
<!--        <EMBED src="https://www.dropbox.com/s/m0irzzk8cejvzu7/XmsNIpyWeUzu.mov?dl=0" width="640" height="360" autoplay="true" -->
<!--        controller="true" loop="true" pluginspage='http://www.apple.com/quicktime/download/'>-->
<!--        </EMBED>-->
<!--        </OBJECT>-->
<!--        </td></tr>-->
        <!-- ...end embedded QuickTime file -->
 <!-- begin link to DOWNLOAD... -->
<!--        <tr><td align="center">-->
<!--        <a href="https://www.dropbox.com/s/m0irzzk8cejvzu7/XmsNIpyWeUzu.mov?dl=0" style="font-size: 85%;" target="_blank">DOWNLOAD</a>-->
        <!-- ...end link to DOWNLOAD... -->
<!--        </td></tr>-->
<!--        </table>-->

<!--<main>  -->
<!--  <div class="container">-->
<!--    <div id="cmn-video-demo4__content">-->
<!--      <div class="cmn-video-demo4__content--header">-->
<!--        <h2>Kitty Kontrol</h2>-->
<!--        <p>Learn to talk to kittens like a pro!</p>-->
<!--        <a href="https://www.dropbox.com/s/m0irzzk8cejvzu7/XmsNIpyWeUzu.mov?dl=0">Get Started</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="cmn-video-demo4__content--main">-->
<!--      <h2>About Kitty Kontrol</h2>-->
<!--      <p>Lorem...</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</main><!-- /main -->-->

<!--<video id="cmn-video-demo4__video" autoplay muted loop>-->
<!--  <source src="media/demo.mp4" type="video/mp4">-->
<!--  <source src="media/demo.ogv" type="video/ogg">-->
<!--  <source src="media/demo.webm" type="video/webm">-->
<!--  Your browser doesn't support HTML5 video. Here's a <a href="#">link</a> to download the video.-->
<!--</video>-->


<!--<script src="http://www.youtube.com/player_api"></script>-->
<!--</head>-->
<!--<meta name=viewport content="width=device-width, initial-scale=1">-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->

<!--<source src="foo.mov" type="video/quicktime">-->
<!--<a href='https://www.dropbox.com/s/m0irzzk8cejvzu7/XmsNIpyWeUzu.mov?dl=0'>bitch</a>-->

<!--<video controls>-->
<!--  <source src="https://www.dropbox.com/s/m0irzzk8cejvzu7/XmsNIpyWeUzu.mov" type="video/webm">-->
<!--  <source src="https://www.dropbox.com/s/m0irzzk8cejvzu7/XmsNIpyWeUzu.mov" type="video/ogg"> -->
<!--  <source src="https://www.dropbox.com/s/m0irzzk8cejvzu7/XmsNIpyWeUzu.mov" type="video/quicktime">-->
<!--  I'm sorry; your browser doesn't support HTML5 video.-->
<!--</video>-->
<!--<div class="player video-container">-->

  <!--<iframe type="text/html" width="100%" height="720" maxheight="100%"></iframe>             -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="mute"-->
<!--  src="https://www.dropbox.com/s/m0irzzk8cejvzu7/XmsNIpyWeUzu.mov?dl=0"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--&listType=playlist-->
    <!--&list=PLC77007E23FF423C6-->
<!--//T2rWJl4bLn4-->
<!--<div class="player video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="mute"-->
<!--  src="https://www.youtube.com/embed/PLC77007E23FF423C6?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&listType=playlist-->
<!--    &list=PLC77007E23FF423C6&showinfo=1"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->

<!--<div class="player video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="mute"-->
<!--  src="https://www.youtube.com/embed/pyCkhPTU13w?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=pyCkhPTU13w&showinfo=0"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--//&playlist=pyCkhPTU13w-->
<!--<br>-->
<!--<div class="player video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="0"-->
<!--  src="https://www.youtube.com/embed/bQm5rFp13DU?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=bQm5rFp13DU&showinfo=1"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--https://m.youtube.com/watch?v=q5hJK--Nd24-->
<!--&playlist=bQm5rFp13DU-->
<!--<br>-->
<!--<div class="player video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="0"-->
<!--  src="https://www.youtube.com/embed/oiKj0Z_Xnjc?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=oiKj0Z_Xnjc&showinfo=0"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--&playlist=oiKj0Z_Xnjc-->
<!--<br>-->
<!--<div class="player video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="mute"-->
<!--  src="https://www.youtube.com/embed/Vnoz5uBEWOA?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=Vnoz5uBEWOA&showinfo=0"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--&playlist=Vnoz5uBEWOA-->
<!--<div class="player video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="0"-->
<!--  src="https://www.youtube.com/embed/nBtDsQ4fhXY?autoplay=1&mute=1&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--<br>-->
<!--<div id="player">-->
<!--  <div class="player video-container">            -->
<!--              <iframe id="player" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="mute"-->
<!--    src="https://www.youtube.com/embed/Vnoz5uBEWOA?autoplay=1&mute=1&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1"-->
<!--    frameborder="0"></iframe>-->
<!--  </div>-->
<!--</div>-->
<!--<br>-->

<!--FIVE-->
<!--<div id="player"></div>-->
<!--<script>-->
<!--  // 2. This code loads the IFrame Player API code asynchronously.-->
<!--  var tag = document.createElement('script');-->

<!--  tag.src = "https://www.youtube.com/iframe_api";-->
<!--  var firstScriptTag = document.getElementsByTagName('script')[0];-->
<!--  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);-->

<!--  // 3. This function creates an <iframe> (and YouTube player)-->
<!--  //    after the API code downloads.-->
<!--  var player;-->
<!--  function onYouTubeIframeAPIReady() {-->
<!--    player = new YT.Player('player', {-->
<!--      height: '720',-->
<!--      width: '100%',-->

<!--      playerVars: {-->
<!--                autoplay: 1,-->
<!--                loop: 1,-->
<!--                controls: 1,-->
<!--                showinfo: 1,-->
<!--                autohide: 1,-->
<!--                modestbranding: 0,-->
<!--                iv_load_policy: 3,-->
<!--                color: 'white',-->
<!--                rel: 0,-->
<!--                showinfo: 0,-->

<!--                playlist: 'GKSRyLdjsPA',-->
<!--                vq: 'hd1080'},-->
<!--      videoId: 'GKSRyLdjsPA',-->
<!--      events: {-->
<!--        'onReady': onPlayerReady,-->
<!--        'onStateChange': onPlayerStateChange-->
<!--      }-->
<!--    });-->
<!--  }-->
<!--//GKSRyLdjsPA-->

<!--//NEVA NOT STICKIN MY DICK IN THIS CHICKEN HEAD-->

<!--  // 4. The API will call this function when the video player is ready.-->
<!--  function onPlayerReady(event) {-->
<!--    event.target.playVideo();-->
<!--    player.mute();-->
<!--  }-->

<!--  var done = false;-->
<!--  function onPlayerStateChange(event) {-->
    
<!--  }-->
<!--  function stopVideo() {-->
<!--    player.stopVideo();-->
<!--  }-->
<!--</script>-->






<!--<div class="video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="mute"-->
<!--  src="https://www.youtube.com/embed/pyCkhPTU13w?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=pyCkhPTU13w"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--<div class="video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="0"-->
<!--  src="https://www.youtube.com/embed/bQm5rFp13DU?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=bQm5rFp13DU"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--<div class="video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="0"-->
<!--  src="https://www.youtube.com/embed/oiKj0Z_Xnjc?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=oiKj0Z_Xnjc"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--<div class="video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="mute"-->
<!--  src="https://www.youtube.com/embed/Vnoz5uBEWOA?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=Vnoz5uBEWOA"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--<div class="video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="0"-->
<!--  src="https://www.youtube.com/embed/nBtDsQ4fhXY?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--<div class="video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="0"-->
<!--  src="https://www.youtube.com/embed/GKSRyLdjsPA?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=GKSRyLdjsPA"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--<div id="player"></div>-->
<!--<script>-->
  <!--// 2. This code loads the IFrame Player API code asynchronously.-->
<!--  var tag = document.createElement('script');-->

<!--  tag.src = "https://www.youtube.com/iframe_api";-->
<!--  var firstScriptTag = document.getElementsByTagName('script')[0];-->
<!--  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);-->

  <!--// 3. This function creates an <iframe> (and YouTube player)-->
  <!--//    after the API code downloads.-->
<!--  var player;-->
<!--  function onYouTubeIframeAPIReady() {-->
<!--    player = new YT.Player('player', {-->
<!--      height: '720',-->
<!--      width: '100%',-->
      <!--// color: 'white',-->
<!--      playerVars: {-->
<!--                autoplay: 1,-->
<!--                loop: 1,-->
<!--                controls: 1,-->
<!--                showinfo: 1,-->
<!--                autohide: 1,-->
<!--                modestbranding: 0,-->
<!--                iv_load_policy: 3,-->
<!--                color: 'white',-->
<!--                vq: 'hd1080'},-->
<!--      videoId: 'GKSRyLdjsPA',-->
<!--      events: {-->
<!--        'onReady': onPlayerReady,-->
<!--        'onStateChange': onPlayerStateChange-->
<!--      }-->
<!--    });-->
<!--  }-->

  <!--// 4. The API will call this function when the video player is ready.-->
<!--  function onPlayerReady(event) {-->
<!--    event.target.playVideo();-->
<!--    player.mute();-->
<!--  }-->

<!--  var done = false;-->
<!--  function onPlayerStateChange(event) {-->
    
<!--  }-->
<!--  function stopVideo() {-->
<!--    player.stopVideo();-->
<!--  }-->
<!--</script>-->

<!--https://youtu.be/GKSRyLdjsPA sia the greatest-->
<!--F6ImxY6hnfA robyn dancing on my own-->
<!--nBtDsQ4fhXY maj lazerrr-->

<!--//https://youtu.be/Vnoz5uBEWOA-->

<!--<div class="container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" allowfullscreen="allowfullscreen"-->
<!--  src="https://youtu.be/pyCkhPTU13w?autoplay=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->


<!--<div class="main-container">-->
<!--              <div class="fixer-container">-->
<!--                <ul class="list-of-floating-elements">-->
<!--                  <ul class="floated"><%= link_to "hi:)",  new_user_registration_path(plan: @basic_plan.id),  class: 'btn-bigboyz fixer-container' %></ul>-->
            <!--<%= link_to "🎂", users_path, class: 'btn btn-blockz' %>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div> -->
            
<!--<div class="container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="360"-->
<!--  src="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--    <% if user_signed_in? %>-->
<!--          <% if current_user.profile %>-->
<!--            <div class="container">-->
<!--              <div class="pull-left">-->
<!--                <%= link_to "✨", edit_user_profile_path(user_id: current_user.id)%>-->
<!--              </div>-->
<!--            </div>-->
            <!--<%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-large btn-block' %>-->
<!--            <div class="pull-right", style="margin-right: 13px">-->
<!--              <%= link_to "🎂", users_path, class: 'btn btn-blockz' %>-->
<!--            </div> -->
            <!--<%= link_to "Peep your profile", user_path(id: current_user.id), class: 'btn btn-default btn-large btn-block' %>-->
<!--          <% else %>-->
<!--            <div class="main-container">-->
<!--              <div class="fixer-container">-->
<!--                <ul class="list-of-floating-elements">-->
<!--                  <ul class="floated"><%= link_to "🌱", edit_user_profile_path(user_id: current_user.id),  class: 'btn-bigboyz fixer-container' %></ul>-->
            <!--<%= link_to "🎂", users_path, class: 'btn btn-blockz' %>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>  -->
            
<!--            <div class="pull-left", style="margin-left: 13px">-->
<!--              <%= link_to "🍰", new_user_profile_path(user_id: current_user.id), class: 'btn btn-blockz' %>-->
<!--            </div>-->
      <!--<div class="col-md-6 col-md-offset-4">-->
<!--            <div class="pull-right", style="margin-right: 13px">-->
<!--              <%= link_to "🎂", users_path, class: 'btn btn-blockz' %>-->
<!--            </div>  -->
<!--      </div>-->
           
<!--          <% end %>-->
<!--        </div>-->
<!--      </div>-->
    
     
<!--<div class="col-md-6 col-md-offset-3 text-center">-->
<!--  <div class="pull-down", style="margin-bottom: 13px">-->
    <!--<h2 class="text-center">🎂</h2>-->
<!--    <%= link_to "🎂", users_path, class: 'btn-blockz ' %>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="responsive-video">-->
  <!--<h1>candywrappinbootyslappin</h1>-->
<!--</div>-->

<!--<video width="320" height="240" autoplay>-->
<!--  <source src="movie.mp4" type="video/mp4">-->
<!--  <source src="movie.ogg" type="video/ogg">-->
<!--Your browser does not support the video tag.-->
<!--</video>-->
      <!--<div class="col-md-6 col-md-offset-3 text-center">-->
        <!--<div class="well">-->
          <!--<h2 class="text-center">🎂</h2>-->
          
      <!--  </div>-->
      <!--</div>-->
      
<!--    <% else %>-->
<!--    <div class="pull-right", style="margin-right: 13px">-->
    <!--  <div class="center-block", style="margin-top: -106px">-->
          <!--<%= link_to "🦍🦑", new_user_registration_path(plan: @basic_plan.id), class: 'btn-bigboyz btn-unstyled' %> -->
    <!--  <div class="container center-block", style="margin-top: -24px">  -->
        <!--<%= link_to "🕴🕴", new_user_registration_path(plan: @pro_plan.id), class: 'btn-unstyled' %>-->
    <!--  </div>-->
    <!--</div>-->
    <!--  </div>-->
    <!--  </div>-->
<!--    </div>-->
<!--    <% end %>-->
<!--  </div>-->
  
<!--</div> -->
<!--<div class="container">-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br><br>-->
<!--  <br><br>-->
<!--  <br><br>-->
<!--  <br>-->
<!--  <br><br>-->
<!--  <br><br>-->
<!--  <div class="pull-bottom pull-right" > -->
    <!--<p class="nobr", style="font-size: 86%">x10r3n️</p>-->
<!--  </div-->
<!--</div>-->

