<div class="main-container">
              <div class="fixer-container">
                <ul class="list-of-floating-elements">
                  <ul class="floated"><%= link_to "samjam", users_path,  class: 'btn-bigboyz fixer-container' %></ul>
            <!--<%= link_to "ðŸŽ‚", users_path, class: 'btn btn-blockz' %>-->
                </ul>
              </div>
            </div>  
    <% if user_signed_in? %>
          <% if current_user.profile %>
            <div class="pull-left", style="margin-left: 13px">
              <%= link_to "âœ¨", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-blockz' %>
            </div>
            <!--<%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-large btn-block' %>-->
            <div class="pull-right", style="margin-right: 13px">
              <%= link_to "ðŸŽ‚", users_path, class: 'btn btn-blockz' %>
            </div> 
            <!--<%= link_to "Peep your profile", user_path(id: current_user.id), class: 'btn btn-default btn-large btn-block' %>-->
          <% else %>
            <div class="main-container">
              <div class="fixer-container">
                <ul class="list-of-floating-elements">
                  <ul class="floated"><%= link_to "ðŸŒ±", edit_user_profile_path(user_id: current_user.id),  class: 'btn-bigboyz fixer-container' %></ul>
            <!--<%= link_to "ðŸŽ‚", users_path, class: 'btn btn-blockz' %>-->
                </ul>
              </div>
            </div>  
            
            <div class="pull-left", style="margin-left: 13px">
              <%= link_to "ðŸ°", new_user_profile_path(user_id: current_user.id), class: 'btn btn-blockz' %>
            </div>
      <!--<div class="col-md-6 col-md-offset-4">-->
            <div class="pull-right", style="margin-right: 13px">
              <%= link_to "ðŸŽ‚", users_path, class: 'btn btn-blockz' %>
            </div>  
      </div>
           
          <% end %>
        </div>
      </div>
    
     
      <!--<div class="col-md-6 col-md-offset-3 text-center">-->
      <!--  <div class="pull-down", style="margin-bottom: 13px">-->
          <!--<h2 class="text-center">ðŸŽ‚</h2>-->
      <!--    <%= link_to "ðŸŽ‚", users_path, class: 'btn btn-blockz ' %>-->
      <!--  </div>-->
      <!--</div>-->
      <!--<div class="col-md-6 col-md-offset-3 text-center">-->
        <!--<div class="well">-->
          <!--<h2 class="text-center">ðŸŽ‚</h2>-->
          
      <!--  </div>-->
      <!--</div>-->
      
    <% else %>
    <div class="pull-right", style="margin-right: 13px">
    <!--  <div class="center-block", style="margin-top: -106px">-->
          <!--<%= link_to "ðŸ¦ðŸ¦‘", new_user_registration_path(plan: @basic_plan.id), class: 'btn-bigboyz btn-unstyled' %> -->
    <!--  <div class="container center-block", style="margin-top: -24px">  -->
        <!--<%= link_to "ðŸ•´ðŸ•´", new_user_registration_path(plan: @pro_plan.id), class: 'btn-unstyled' %>-->
    <!--  </div>-->
    <!--</div>-->
    <!--  </div>-->
    <!--  </div>-->
    </div>
    <% end %>
  </div>
  
</div> 

<br>
<br>
<br>
<br>
<br>
<br><br>
<br><br>
<br><br>
<br>
<br><br>
<br><br>
<br><br>
<div class="pull-bottom pull-right" >
  <p>ðŸ›  by yaboy</p>
</div


