<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <body>-->
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<!--    <div id="player"></div>-->

<!--    <script>-->
      <!--// 2. This code loads the IFrame Player API code asynchronously.-->
<!--      var tag = document.createElement('script');-->

<!--      tag.src = "https://www.youtube.com/iframe_api";-->
<!--      var firstScriptTag = document.getElementsByTagName('script')[0];-->
<!--      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);-->

      <!--// 3. This function creates an <iframe> (and YouTube player)-->
      <!--//    after the API code downloads.-->
<!--      var player;-->
<!--      function onYouTubeIframeAPIReady() {-->
<!--        player = new YT.Player('player', {-->
<!--          height: '390',-->
<!--          width: '640',-->
<!--          videoId: 'M7lc1UVf-VE',-->
<!--          events: {-->
<!--            'onReady': onPlayerReady,-->
<!--            'onStateChange': onPlayerStateChange-->
<!--          }-->
<!--        });-->
<!--      }-->

<!--      // 4. The API will call this function when the video player is ready.-->
<!--      function onPlayerReady(event) {-->
<!--        event.target.playVideo();-->
<!--      }-->

<!--      // 5. The API calls this function when the player's state changes.-->
<!--      //    The function indicates that when playing a video (state=1),-->
<!--      //    the player should play for six seconds and then stop.-->
<!--      var done = false;-->
<!--      function onPlayerStateChange(event) {-->
<!--        if (event.data == YT.PlayerState.PLAYING && !done) {-->
<!--          setTimeout(stopVideo, 6000);-->
<!--          done = true;-->
<!--        }-->
<!--      }-->
<!--      function stopVideo() {-->
<!--        player.stopVideo();-->
<!--      }-->
<!--    </script>-->
<!--  </body>-->
<!--</html>-->

<!--player.loadVideoByUrl({mediaContentUrl:String,-->
<!--                       startSeconds:Number,-->
<!--                       endSeconds:Number,-->
<!--                       suggestedQuality:String}):Void-->

<!--<div id="video-embed" data-fplayer="//www.c-span.org/assets/swf/CSPANPlayer.swf" data-embedded="true" data-progid="464843" data-nostandalone="true" class="VLplayer-wrapper" style="width: 100%; height: 500px; max-width: 1024px;">-->
<!--  <object type="application/x-shockwave-flash" id="flashPlayer" name="flashPlayer" data="//www.c-span.org/assets/swf/CSPANPlayer.swf?programid=464843" width="100%" height="100%" tabindex="0">-->
    <!--<param name="bgcolor" value="black">-->
    <!--<param name="base" value="swf">-->
    <!--<param name="allowScriptAccess" value="always">-->
<!--    <param name="allowFullScreen" value="true">-->
<!--    <param name="quality" value="high">-->
<!--    <param name="wmode" value="transparent">-->
<!--    <param name="flashvars" value="system=/common/services/flashXml.php?programid=464843&amp;style=block&amp;noStandalone=false">-->
<!--  </object>-->
<!--</div>-->

<!--<iframe id="ytplayer" type="text/html" width="100%" height="800" maxheight="100%" allowfullscreen="allowfullscreen" volume="mute" src="https://www.c-span.org/video/standalone/?420652-1/presidential-transition-trump-administration&amp;popoutPlayer" frameborder="0"></iframe>-->



<!--HERE WE GO-->
<div class="player video-container">            
            <iframe id="ytplayer" type="text/html" width="100%" height="1005" maxheight="100%" allowfullscreen="allowfullscreen" volume="mute"
  src="https://www.youtube.com/embed/_GGBb_A6FZM?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=1&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=oiKj0Z_Xnjc,Vnoz5uBEWOA,GKSRyLdjsPA"
  frameborder="0"></iframe>
</div>

<object id="flashObj" width="480" height="270" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,47,0">
    <param name="movie" value="http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1" />
    <param name="bgcolor" value="#FFFFFF" />
    <param name="flashVars" value="videoId=5293895839001&playerID=1764219419001&playerKey=AQ~~,AAAAAETmrZQ~,EVFEM4AKJdRI6UgfPhFgV0s-3wZ2v95n&domain=embed&dynamicStreaming=true" />
    <param name="base" value="http://admin.brightcove.com" />
    <param name="seamlesstabbing" value="false" />
    <param name="allowFullScreen" value="true" />
    <param name="swLiveConnect" value="true" />
    <param name="allowScriptAccess" value="always" />
    <embed src="http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1" bgcolor="#FFFFFF" flashVars="videoId=5293895839001&playerID=1764219419001&playerKey=AQ~~,AAAAAETmrZQ~,EVFEM4AKJdRI6UgfPhFgV0s-3wZ2v95n&domain=embed&dynamicStreaming=true" base="http://admin.brightcove.com" name="flashObj" width="480" height="270" seamlesstabbing="false" type="application/x-shockwave-flash" allowFullScreen="true" allowScriptAccess="always" swLiveConnect="true" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">
    </embed>
</object>
<!--pyCkhPTU13w?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=oiKj0Z_Xnjc,Vnoz5uBEWOA,GKSRyLdjsPA&showinfo=1"-->
<!--https://www.youtube.com/watch?v=VWTSJRGw5OA-->
<!--&playlist=pyCkhPTU13w,oiKj0Z_Xnjc,Vnoz5uBEWOA,GKSRyLdjsPA-->

<!--<div class="player video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="800" maxheight="100%" allowfullscreen="allowfullscreen" volume="mute"-->
<!--  src="https://www.c-span.org/video/standalone/?420652-1/presidential-transition-trump-administration&popoutPlayer?start=33&enablejsapi=1" -->
<!--  frameborder="0" start="365"></iframe>-->
<!--</div>-->



<!--<script src="http://www.youtube.com/player_api"></script>-->
<!--</head>-->
<!--<meta name=viewport content="width=device-width, initial-scale=1">-->


<!--FIVE-->
<!--<div id="player"></div>-->
<!--<script>-->
<!--  // 2. This code loads the IFrame Player API code asynchronously.-->
<!--  var tag = document.createElement('script');-->

<!--  tag.src = "https://www.youtube.com/iframe_api";-->
<!--  var firstScriptTag = document.getElementsByTagName('script')[0];-->
<!--  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);-->

<!--  // 3. This function creates an <iframe> (and YouTube player)-->
<!--  //    after the API code downloads.-->
<!--  var player;-->
<!--  function onYouTubeIframeAPIReady() {-->
<!--    player = new YT.Player('player', {-->
<!--      height: '950',-->
<!--      width: '100%',-->

<!--      playerVars: {-->
<!--                autoplay: 1,-->
<!--                loop: 1,-->
<!--                controls: 2,-->
<!--                showinfo: 1,-->
<!--                autohide: 1,-->
<!--                modestbranding: 0,-->
<!--                iv_load_policy: 0,-->
<!--                color: 'white',-->
<!--                cc_load_policy: 1,-->
<!--                rel: 0,-->
<!--                showinfo: 0,-->
<!--                playlist: 'oiKj0Z_Xnjc,zYexg2r3xW8,GKSRyLdjsPA', -->
<!--                vq: 'hd1080'},-->
<!--      videoId: '_GGBb_A6FZM',-->
<!--      events: {-->
<!--        'onReady': onPlayerReady,-->
<!--        'onStateChange': onPlayerStateChange-->
<!--      }-->
<!--    });-->
<!--  }-->


<!--//NEVA NOT STICKIN MY DICK IN THIS CHICKEN HEAD-->

  <!--// 4. The API will call this function when the video player is ready.-->
<!--  function onPlayerReady(event) {-->
<!--    event.target.playVideo();-->
<!--    player.mute();-->
<!--  }-->

<!--  var done = false;-->
<!--  function onPlayerStateChange(event) {-->
    
<!--  }-->
<!--  function stopVideo() {-->
<!--    player.stopVideo();-->
<!--  }-->
<!--</script>-->




<!--FORMER HEAD-->
<!--<br>-->
<!--<br>-->
<!--<div class="player video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="mute"-->
<!--  src="https://www.youtube.com/embed/pyCkhPTU13w?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=oiKj0Z_Xnjc,Vnoz5uBEWOA,GKSRyLdjsPA&showinfo=1"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->


<!--<div class="player video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="mute"-->
<!--  src="https://www.youtube.com/embed/PLC77007E23FF423C6?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&listType=playlist-->
<!--    &list=PLC77007E23FF423C6&showinfo=0&theme=dark"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->


<!--<br>-->

<!--<br>-->
<!--<div class="player video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="0"-->
<!--  src="https://www.youtube.com/embed/oiKj0Z_Xnjc?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=oiKj0Z_Xnjc&showinfo=0"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--&playlist=oiKj0Z_Xnjc-->
<!--<br>-->
<!--<div class="player video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="mute"-->
<!--  src="https://www.youtube.com/embed/Vnoz5uBEWOA?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=Vnoz5uBEWOA&showinfo=0"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->

<!--<br>-->
<!--<div id="player">-->
<!--  <div class="player video-container">            -->
<!--              <iframe id="player" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="mute"-->
<!--    src="https://www.youtube.com/embed/Vnoz5uBEWOA?autoplay=1&mute=1&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1"-->
<!--    frameborder="0"></iframe>-->
<!--  </div>-->
<!--</div>-->
<!--<br>-->




<!--<div class="video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="mute"-->
<!--  src="https://www.youtube.com/embed/pyCkhPTU13w?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=pyCkhPTU13w"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--<div class="video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="0"-->
<!--  src="https://www.youtube.com/embed/bQm5rFp13DU?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=bQm5rFp13DU"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--<div class="video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="0"-->
<!--  src="https://www.youtube.com/embed/oiKj0Z_Xnjc?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=oiKj0Z_Xnjc"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--<div class="video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="mute"-->
<!--  src="https://www.youtube.com/embed/Vnoz5uBEWOA?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=Vnoz5uBEWOA"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--<div class="video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="0"-->
<!--  src="https://www.youtube.com/embed/nBtDsQ4fhXY?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--<div class="video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="0"-->
<!--  src="https://www.youtube.com/embed/GKSRyLdjsPA?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=GKSRyLdjsPA"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--<div id="player"></div>-->
<!--<script>-->
  <!--// 2. This code loads the IFrame Player API code asynchronously.-->
<!--  var tag = document.createElement('script');-->

<!--  tag.src = "https://www.youtube.com/iframe_api";-->
<!--  var firstScriptTag = document.getElementsByTagName('script')[0];-->
<!--  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);-->

  <!--// 3. This function creates an <iframe> (and YouTube player)-->
  <!--//    after the API code downloads.-->
<!--  var player;-->
<!--  function onYouTubeIframeAPIReady() {-->
<!--    player = new YT.Player('player', {-->
<!--      height: '720',-->
<!--      width: '100%',-->
      <!--// color: 'white',-->
<!--      playerVars: {-->
<!--                autoplay: 1,-->
<!--                loop: 1,-->
<!--                controls: 1,-->
<!--                showinfo: 1,-->
<!--                autohide: 1,-->
<!--                modestbranding: 0,-->
<!--                iv_load_policy: 3,-->
<!--                color: 'white',-->
<!--                vq: 'hd1080'},-->
<!--      videoId: 'GKSRyLdjsPA',-->
<!--      events: {-->
<!--        'onReady': onPlayerReady,-->
<!--        'onStateChange': onPlayerStateChange-->
<!--      }-->
<!--    });-->
<!--  }-->

  <!--// 4. The API will call this function when the video player is ready.-->
<!--  function onPlayerReady(event) {-->
<!--    event.target.playVideo();-->
<!--    player.mute();-->
<!--  }-->

<!--  var done = false;-->
<!--  function onPlayerStateChange(event) {-->
    
<!--  }-->
<!--  function stopVideo() {-->
<!--    player.stopVideo();-->
<!--  }-->
<!--</script>-->

<!--https://youtu.be/GKSRyLdjsPA sia the greatest-->
<!--F6ImxY6hnfA robyn dancing on my own-->
<!--nBtDsQ4fhXY maj lazerrr-->

<!--//https://youtu.be/Vnoz5uBEWOA-->

<!--<div class="container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" allowfullscreen="allowfullscreen"-->
<!--  src="https://youtu.be/pyCkhPTU13w?autoplay=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->


<!--<div class="main-container">-->
<!--              <div class="fixer-container">-->
<!--                <ul class="list-of-floating-elements">-->
<!--                  <ul class="floated"><%= link_to "hi:)",  new_user_registration_path(plan: @basic_plan.id),  class: 'btn-bigboyz fixer-container' %></ul>-->
            <!--<%= link_to "🎂", users_path, class: 'btn btn-blockz' %>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div> -->
            
<!--<div class="container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="360"-->
<!--  src="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--    <% if user_signed_in? %>-->
<!--          <% if current_user.profile %>-->
<!--            <div class="container">-->
<!--              <div class="pull-left">-->
<!--                <%= link_to "✨", edit_user_profile_path(user_id: current_user.id)%>-->
<!--              </div>-->
<!--            </div>-->
            <!--<%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-large btn-block' %>-->
<!--            <div class="pull-right", style="margin-right: 13px">-->
<!--              <%= link_to "🎂", users_path, class: 'btn btn-blockz' %>-->
<!--            </div> -->
            <!--<%= link_to "Peep your profile", user_path(id: current_user.id), class: 'btn btn-default btn-large btn-block' %>-->
<!--          <% else %>-->
<!--            <div class="main-container">-->
<!--              <div class="fixer-container">-->
<!--                <ul class="list-of-floating-elements">-->
<!--                  <ul class="floated"><%= link_to "🌱", edit_user_profile_path(user_id: current_user.id),  class: 'btn-bigboyz fixer-container' %></ul>-->
            <!--<%= link_to "🎂", users_path, class: 'btn btn-blockz' %>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>  -->
            
<!--            <div class="pull-left", style="margin-left: 13px">-->
<!--              <%= link_to "🍰", new_user_profile_path(user_id: current_user.id), class: 'btn btn-blockz' %>-->
<!--            </div>-->
      <!--<div class="col-md-6 col-md-offset-4">-->
<!--            <div class="pull-right", style="margin-right: 13px">-->
<!--              <%= link_to "🎂", users_path, class: 'btn btn-blockz' %>-->
<!--            </div>  -->
<!--      </div>-->
           
<!--          <% end %>-->
<!--        </div>-->
<!--      </div>-->
    
     
<!--<div class="col-md-6 col-md-offset-3 text-center">-->
<!--  <div class="pull-down", style="margin-bottom: 13px">-->
    <!--<h2 class="text-center">🎂</h2>-->
<!--    <%= link_to "🎂", users_path, class: 'btn-blockz ' %>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="responsive-video">-->
  <!--<h1>candywrappinbootyslappin</h1>-->
<!--</div>-->

<!--<video width="320" height="240" autoplay>-->
<!--  <source src="movie.mp4" type="video/mp4">-->
<!--  <source src="movie.ogg" type="video/ogg">-->
<!--Your browser does not support the video tag.-->
<!--</video>-->
      <!--<div class="col-md-6 col-md-offset-3 text-center">-->
        <!--<div class="well">-->
          <!--<h2 class="text-center">🎂</h2>-->
          
      <!--  </div>-->
      <!--</div>-->
      
<!--    <% else %>-->
<!--    <div class="pull-right", style="margin-right: 13px">-->
    <!--  <div class="center-block", style="margin-top: -106px">-->
          <!--<%= link_to "🦍🦑", new_user_registration_path(plan: @basic_plan.id), class: 'btn-bigboyz btn-unstyled' %> -->
    <!--  <div class="container center-block", style="margin-top: -24px">  -->
        <!--<%= link_to "🕴🕴", new_user_registration_path(plan: @pro_plan.id), class: 'btn-unstyled' %>-->
    <!--  </div>-->
    <!--</div>-->
    <!--  </div>-->
    <!--  </div>-->
<!--    </div>-->
<!--    <% end %>-->
<!--  </div>-->
  
<!--</div> -->
<!--<div class="container">-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br><br>-->
<!--  <br><br>-->
<!--  <br><br>-->
<!--  <br>-->
<!--  <br><br>-->
<!--  <br><br>-->
<!--  <div class="pull-bottom pull-right" > -->
    <!--<p class="nobr", style="font-size: 86%">x10r3n️</p>-->
<!--  </div-->
<!--</div>-->

<!--&playlist=Vnoz5uBEWOA-->
<!--<div class="player video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="0"-->
<!--  src="https://www.youtube.com/embed/nBtDsQ4fhXY?autoplay=1&mute=1&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--MAJOR LAZER-->

<!--TAKU-->
<!--<div class="player video-container">            -->
<!--            <iframe id="ytplayer" type="text/html" width="100%" height="720" maxheight="100%" allowfullscreen="allowfullscreen" volume="0"-->
<!--  src="https://www.youtube.com/embed/bQm5rFp13DU?autoplay=1&volume=0&origin=http://example.com&color=white&cc_load_policy=0&enablejsapi=1&fs=1&rel=0&iv_load_policy=3&loop=1&playlist=bQm5rFp13DU&showinfo=0"-->
<!--  frameborder="0"></iframe>-->
<!--</div>-->
<!--https://m.youtube.com/watch?v=q5hJK--Nd24-->
<!--&playlist=bQm5rFp13DU-->

<!--3eJCyJ8vhJM-->
<!--OBERST-->