<div class="container">
  <div class="row">
    <div class="row">
      <h2 class="text-center", style="font-size:610%; margin-bottom: -44px;  z-index: +1; position:relative;">💋</h2>
    </div>
    <!--<h1 style="font-size:610%; margin-bottom: -44px;">💋<h1>-->
    <div class="col-md-4 col-md-offset-4">
      <div class="well", style="z-index: -1">  
        <%= form_for @contact do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div> 
          
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div> 
          
          <div class="form-group">  
            <%= f.label :comments %>
            <%= f.text_area :comments, class: 'form-control' %>
          </div> 
          
            <%= f.submit 'Submit', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
